<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../styleshets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="nav">
            <div class="logo"></div>
            <div class="ancher">
                <a href="">About</a>
                <form action="/log" method="post">
                    <button type="submit">Login</button>
                </form>

            </div>


        </div>

        <div class="bgcircle-1"></div>
        <div class="bgcircle-2"></div>
        <div class="blur"></div>
        <div class="header">
            <h2>Get prepare for your Interview from <br>
                <h1>Getplaced.AI</h1>
            </h2>
            <form action="/log" method="post">
                <button type="submit" class="start">Start Interview</button>
            </form>
        </div>
        <div class="lower">

            <div class="para">
                <p>Practice job Interview questions tailored to Your job <br> discription.
                    Get instant AI feedback and suggestions to improve your answers.
                </p>
            </div>
            <marquee width="100%" direction="left" height="40px" scrollamount="15">
                <div class="cover">
                    <div class="items">✨Software Enginnear</div>
                    <div class="items"> ✨Data Scientist</div>
                    <div class="items">✨Cybersecurity Analyst</div>
                    <div class="items">✨Cloud Solutions Architect</div>
                    <div class="items">✨DevOps Engineer</div>
                    <div class="items"> ✨IT Support Specialist</div>
                    <div class="items">✨Full Stack Developer</div>
                    <div class="items">✨Database Administrator</div>

                </div>

            </marquee>


        </div>



    </div>
    <div class="main-2">
        <div class="box">
            <h1>Be 10x more successful in interviews</h1>
            <h3>Get hired quicker by having one up on your opponents by being more successful in interviews.</h3>
            <img src=".\Images\AImodel.png" alt="">

        </div>
        <div class="box-2">
            <h1>How <span>Getplaced.AI</span> can help you?</h1>
            <div class="inner-box-2">
                <div class="slider">
                    <h2> Simulating Real Interview Scenarios</h2>
                    <p>Mock Interviews: AI interviewers can simulate realistic interview scenarios, allowing users to
                        practice answering common and role-specific interview questions.
                        Variety of Question Types: The AI can ask a wide range of questions, including technical,
                        behavioral, situational, and soft-skill-based questions, mimicking the diversity of real-world
                        interviews. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laudantium natus
                        quia nulla, animi deleniti dolor maiores velit architecto facere, quis aperiam quod id
                        laboriosam aspernatur praesentium a fugit alias?
                        Velit optio, quas nesciunt blanditiis accusantium itaque sint magni enim? Ducimus ipsa
                        blanditiis, sapiente voluptatum in maxime culpa eligendi dolor eveniet ad! Ipsa temporibus
                        corporis possimus? Ex voluptate perspiciatis debitis.
                        Minima facere nemo rerum ducimus temporibus aliquam tempore in mollitia veritatis magni nobis
                        sequi, quo voluptates quia aspernatur delectus, est, earum consectetur dicta velit dolorem
                        deleniti sed! Vel, delectus neque!
                        Quos necessitatibus, dolores incidunt veniam ipsum adipisci voluptatem enim eius, ipsa illo
                        perspiciatis numquam doloremque optio, dolorem saepe aperiam consectetur eligendi sed odio! Aut
                        eveniet consequatur inventore sint minima alias.</p>
                </div>
            </div>
        </div>



        <div class="blur"></div>


    </div>
    <div class="main-3">
        <h1>Freqently Asked questions(FAQ's)</h1>
        <div class="faq">
            <div class="que">
                <div class="question">
                    <h3>How dose the AI mock job interview works?</h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>This tool works in a simpale way. You only need to either type in the job discription, Job tittle,
                    work experiences at the begining of the interview. Then you only receive tailored questons and
                    instant feedback to help you prepare for the next stage of hiring process.

                </p>

            </div>

            <div class="que">
                <div class="question">
                    <h3>
                        Is there a free trial?
                    </h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>
                    Most of our tools have a free version that allows you to take a peek into what you can expect. If
                    you are interested in learning more about us before committing to premium, reach out anytime at
                    support@Getplaced.AI
                </p>
            </div>
            <div class="que">
                <div class="question">
                    <h3>
                        What if I'm missing a feature?
                    </h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>If you're missing a feature anywhere on our platform, reach out to us at support@Getplaced.AI we will
                    try our absolute best to meet your needs and expectations

                </p>
            </div>
            <div class="que">
                <div class="question">
                    <h3>How accurate is the AI in evaluating candidates?</h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>The accuracy depends on the underlying model and dataset. The AI uses machine learning and natural
                    language processing (NLP) to assess answers objectively, providing consistent feedback.
                </p>
            </div>
            <div class="que">
                <div class="question">
                    <h3>Does the AI Interviewer provide feedback to candidates?</h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>Yes, the AI can provide instant feedback on candidate responses, highlighting strengths and areas for
                    improvement.

                </p>
            </div>
            <div class="que">
                <div class="question">
                    <h3>What are the benefits of using the AI Interviewer?</h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>Saves time and resources <br>
                    Reduces human bias <br>
                    Provides standardized assessments <br>
                    Enhances scalability in hiring
                </p>
            </div>
            <div class="que">
                <div class="question">
                    <h3>How do I get started with the AI Interviewer web application?</h3>
                    <i class="ri-arrow-down-s-line" id="down"></i><i class="ri-arrow-up-s-line" id="up"></i>
                </div>
                <p>
                    Simply sign up on the platform, customize your interview templates, and start conducting interviews
                </p>
            </div>
        </div>
        <div class="blur"></div>
    </div>
    <div class="main-4">
        <div class="fotter">
            <h1>Getplaced.AI</h1>
            <p>Your trusted platform to ace any job interviews,<br> craft the perfect resumes, and land your dream jobs.
            </p>

            <div class="social-media">
                <div class="iocns"><i class="ri-instagram-fill"></i></div>
                <div class="iocns"><i class="ri-linkedin-fill"></i></div>
                <div class="iocns"><i class="ri-facebook-circle-fill"></i></div>


            </div>
            <p class="copyright">©2024 Getplaced.AI <br>
                Lingrajappa enginnering collage</p>
        </div>
    </div>


    <script>
        let que = document.querySelectorAll(".que");
        let upArrow = document.querySelectorAll("#up");
        let downArrow = document.querySelectorAll("#down");





        que.forEach((val) => {
            val.addEventListener("click", () => {
                val.classList.toggle("active")
                upArrow.style.display = "block"

                upArrow.forEach((val) => {
                    val.style.display = "block"

                })
                downArrow.forEach((val) => {
                    val.style.display = "none"

                })
            })
        })


    </script>
</body>

</html>