<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="..\styleshets\style.css">
</head>

<body>
    <div class="main">
        <div class="nav">
            <div class="ailogo"></div>
            <div class="ancher">
                <a href="">About</a><a href="">Contact Us</a><a href="">Services</a>
            </div>
        </div>
        <video src="../images/AI INTERVIWER BG VIDIO.mp4" autoplay muted loop></video>
        <form action="/signup" method="post">
            <div class="login-box">

                <h1>SIGNUP</h1>
                <h2>Email</h2>
                <input type="email" name="email" class="input">
                <h2>Create Password</h2>
                <input type="password" name="password" class="input">
                <!-- <h2>Conform Password</h2>
                <input type="password" name="password" class="input"> -->
                <div class="check">
                    <input type="checkbox" name="Reminder me" id=""> Remember me?</input>
                </div>

                <button type="submit">SIGNUP</button>

                <h3>OR</h3>
                <div class="logo">
                    <h5>G</h5>
                    <h5>F</h5>
                    <h5>IN</h5>
                </div>
                <h3>already have an account?<a href="/login" class="SIGNUP">LOGIN</a></h3>

            </div>
        </form>

    </div>

</body>

</html>